*{
	margin:0;
	padding:0;
}
body{
	background: gray;
}
ul li{
	list-style: none;
}
.content-lyl{
	width: 100%;
	height: 300px;
	background: white;
	border-radius: 5px;
	position: relative;
}
.content-lyl ul {
	width: 100%;
	height: 90%;
	/*background: red;*/
}
.content-lyl ul li {
	width: 23%;
	height: 40%;
/*	background: red;*/
	float: left;
	margin-left: 1%;
	margin-top: 3%;
	padding: 3%;
}
.content-lyl ul li img{
	width: 100%;
	height: 80%;
}
.content-lyl ul li span{
	display: block;
	width: 100%;
	height: 20%;
	text-align: center;
	color: gray;
	font-size: 80%;
}
.content-lyl .nav-lunbo{
	display: block;
	width: 15px;
	height: 15px;
	background: blue;
	float: left;
	margin-left: 2%;
	position: relative;
	left: 40%;
	top:1%;
	border-radius: 50%;
}
.content-lyl .nav-style{
	background: yellow;!important
}
.end-lyl{
	padding: 4%;
	width: 100%;
	/*height:500px ;*/
	/*background: red;*/
	position: relative;
	top:20px;
	border-radius: 5px;
}
.end-lyl .end-ul{
	position: relative;
	width: 100%;
	/*height: 500px;*/
	/*background: blue;*/
}
.end-lyl .end-ul li{
	width: 100%;
	height: 150px;
	background: white;
	margin-top: 5px;
	border-radius: 5px;
}
